body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}
.btn-info {
    background-color: #17a2b8;
    color: white;
    border: 1px solid #17a2b8;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
}
.container {
    width: 80%;
    margin: 2em auto;
    background: #fff;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 20px;
    flex-basis: 48%;
}

.form-group.full-width {
    flex-basis: 100%;
}

label {
    display: block;
    margin-bottom: .5em;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    margin-top:10px;
}

button:hover {
    background-color: #0069d9;
    color: white;
}

#productPrice {
    margin-bottom: 0;
}

.visibility-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.visibility-options {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.visibility-options label {
    margin-top: 10px;
}

#productImage {
    border: 2px dashed #ddd;
    width: 100%;
    height: 150px;
    text-align: center;
    background: #fafafa;
    margin-top: 1em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#productImage::before {
    content: 'Upload your product images.\A Only PNG, JPG format allowed.\A 500x500 pixels are recommended.';
    color: #aaa;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: max-content;
    white-space: pre;
}

.form-control-file {
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.existing-image {
    margin-bottom: 10px; 
}

.existing-image img {
    width: 100px; 
    height: auto;
    margin-right: 10px; 
}

.existing-image input[type="checkbox"] {
    vertical-align: middle; 
}


.nav-buttons {
    margin-bottom: 20px;
}



@media (max-width: 768px) {
    .form-group {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
}