body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.carousel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Thumbnail */

.thumbnail {
    position: absolute;
    bottom: 15%;
    left: 50%;
    width: max-content;
    z-index: 5;
    display: flex;
    gap: 30px;
}

.thumbnail .item {
    width: 200px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    background: rgba(77, 58, 58, 0.582);
    border-radius: 10%;
    transition: 0.3s;
}

.thumbnail .item:hover {
    scale: 1.2;
    cursor: pointer;
    border: 2px solid rgba(211, 31, 31, 0.719);
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail .item .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding-inline: 5px;
}

.thumbnail .item .content .title {
    font-weight: bold;
    color: rgb(221, 174, 19);
    background-color: rgba(30, 30, 30, 0.85);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
}

/* arrows */
.arrows {
    position: absolute;
    top: 70%;
    left: 30%;
    width: 300px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    font-family: monospace;
    color: white;
    font-weight: bold;
    font-size: large;
    transition: 0.5s;
    z-index: 100;
}

.arrows button:hover {
    background-color: white;
    color: #555;
}

/* Carousel */
.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("/background2.png");
    background-position: center;
    background-size: cover;
    padding-top: 5%;
}

.carousel-image {
    max-width: 50vw;
    max-height: 70vh;
    margin-inline: auto;
    display: flex;
    justify-content: center;
}

.left-info,
.bottom-info {
    background-color: rgb(29, 23, 23);
    color: white;
    padding: 15px;
    margin-bottom: 30px;
    width: 80%;
    border: 0.5px solid rgba(26, 12, 12, 0.2);
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 5px 15px rgba(0, 0, 0, 0.3);
}
.top-info {
    background-color: rgb(29, 23, 23);
    color: white;
    padding: 15px;
    margin-bottom: 30px;
    margin-left: auto;
    width: 80%;
    border: 0.5px solid rgba(26, 12, 12, 0.2);
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 5px 15px rgba(0, 0, 0, 0.3);
}

.recon-title {
    font-size: 2.5rem;
    color: #f00;
    margin-bottom: 10px;
    font-family: "Bebas Neue", sans-serif;
}

.recon-header {
    border-left: 5px solid #f00;
    padding-left: 10px;
    margin-bottom: 20px;
}

.recon-name {
    font-size: 22px;
    color: #fff;
}

.recon-description {
    font-size: 1rem;
    color: white;
    padding-bottom: 5px;
}

.bottom-description {
    font-size: 16px;
    color: white;
    padding-top: 8px;
    border-top: 1px solid #f00;
    border-right: 1px solid #f00;
    border-style: dashed;
    padding-right: 10px;
}

.right-info {
    color: white;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    width: 70%;
    border: 0.5px solid rgba(26, 12, 12, 0.2);
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgb(29, 23, 23);
}
.add-info {
    color: white;
    padding: 10px;
    margin-bottom: 30px;
    width: 70%;
    border: 0.5px solid rgba(26, 12, 12, 0.2);
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgb(29, 23, 23);
}

.top-description {
    font-size: 16px;
    color: white;
    border-style: dashed;
    text-align: left;
    padding-right: 10px;
}

.recon-button {
    display: inline-block;
    background: transparent;
    border: 1px solid #e98f2b;
    color: #e98f2b;
    text-transform: uppercase;
    padding: 10px 10px;
    margin-top: 2px;
    width: 50%;
    margin-left: 10px;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.recon-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    color: white;
    background-color: #e98f2b;
}

.recon-button:focus,
.recon-button:active {
    box-shadow: 0 0 15px #e98f2b;
}

.second-info {
    background-color: rgb(29, 23, 23);
    color: white;
    padding: 5px;
    margin-bottom: 30px;
    margin-left: auto;
    width: 60%;
    border-top: 2px solid #f00;
    border-bottom: 2px solid red;
}

.second-description {
    font-size: 16px;
    color: white;
    border-style: dashed;
    text-align: right;
    padding-right: 5px;
}

.second-description strong {
    color: red;
    font-size: 2rem;
}

/* Show Content */
.carousel .list .left-side-plane,
.carousel .list .left-info,
.carousel .list .bottom-info {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0px);
    animation: showContent 0.5s 1s linear 1 forwards;
}

.carousel .list .left-side-plane {
    animation-delay: 0.3s;
}
.carousel .list .second-info {
    animation-delay: 0.4s;
}

.carousel .list .left-info.right {
    animation-delay: 0.6s;
}

.carousel .list .carousel-item.active {
    z-index: 1;
}

.left-panel {
  left: 20vw;
  position: relative;
  top: 10%;
  perspective: 1000px;
  z-index: 2;
  transform-origin: top left;
  width: 33%;
}

.hero-img{
  z-index: 5;
  position: relative;
  width: 33%;
}

.right-panel{
  position: relative;
  top: 15%;
  right: 20vw;
  width: 32%;
  z-index: 5;
  text-align: right;
}

@media (max-width: 850px) {
    .left-panel {
        left: 5vw;
    }
    .left-info,
    .bottom-info,
    .add-info {
        width: 150%;
    }
    .hero-img{
      width: 50%;
    }  
    .right-panel {
        display: none;
    }
    .arrows{
      top: 70vh;
      left: 25vw;

    }
}

@media (max-width: 500px){
  .hero-img{
    z-index: 5;
    position: absolute;
    top: 0;
    width: 100vw;
  }  
  .left-panel{
    top: 110vw;
    width: 100vw;
    position: absolute;
  }
  .left-info,
  .add-info {
    width: 100%;
  }
  .bottom-info {
    display: none;
  }
  .thumbnail {
    display: none;
  }
  .arrows{
    top: 50vh;
    left: 0;
    width: 100vw;
    display: flex;
    padding-inline: 20px;
    justify-content: space-between;
  }
  .recon-title{
    font-size: 30px;
  }
}