.nav-item a {
    position: relative;
    color: #ffffff;
    text-decoration: none; 
    transition: color 0.3s ease-in-out; 
  }
  
  .nav-item a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #be0a0a; 
    transition: width 0.3s ease-in-out; 
  }
  
  .nav-item a:hover {
    color: #be0a0a;
    cursor: pointer;
  }
  
  .navbar{
 
  }

  .nav-item a:hover::after {
    width: 100%;
  }
  .nav-item{
    margin-right: 15px;
    background-size: 60px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .bloody{
    background-image: url('https://res.cloudinary.com/diwszstai/image/upload/v1711300062/site-assets/blood-splatter_xhvx2d.png');
  }

  .nav-search{
    @apply relative block w-full p-3 pl-10 text-sm text-white border border-transparent bg-transparent backdrop-blur-lg
  }
  
  .nav-search-form{
    position: relative;
    right: 100px;
    width: 250px;
    border-radius: 10px 0 0 10px !important;
  }
  .search-btn {
    height: 47px;
    top: -1px;
    left: 100%;
    width: 100px;
    border-radius: 0 10px 10px 0 !important;
    border: 1px solid grey !important

  }